@font-face {
  font-family: 'CoreSansDS55Bold';
  src: url("");
  src: url("CoreSansDS55Bold.woff2") format('woff2'),
       url("CoreSansDS55Bold.woff") format('woff'),
       url("CoreSansDS55Bold.ttf") format('truetype'),
       url("CoreSansDS55Bold.svg") format('svg'),
       url("CoreSansDS55Bold.eot") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lifehack-Bold';
  src: url("");
  src: url("Lifehack-Bold.woff2") format('woff2'),
       url("Lifehack-Bold.woff") format('woff'),
       url("Lifehack-Bold.ttf") format('truetype'),
       url("Lifehack-Bold.svg") format('svg'),
       url("Lifehack-Bold.eot") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body {overflow-x: hidden;}
a, a:hover {color: #46ae50;}
.tdn, .tdn:hover {text-decoration: none;}
.tdn:hover {opacity: .9;}

.mds-1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.mds-2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.mds-3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.mds-4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.mds-5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}

.logo, .nav-container, .card img {
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.rounded {font-family: 'CoreSansDS55Bold', sans-serif;}

/*header*/
.site-header {
    background: url("hexellence.jpg");
    height: 500px;
    margin-bottom: 80px;
    border-radius: 0 0 30% 30%;
}
.site-header:before {
    content:"";
    display: block;
    position: absolute;
    left: 0; top: 0;
    height: 400px; width: 100%;
    background-image: radial-gradient(farthest-corner at 50% 0, rgba(255,255,255,.15) 0%, transparent 100%);
}
.topbar {padding: 30px 0;}
.logo {
    display: block;
    height: 75px;
    width: 66px;
    background: url("logo.png") no-repeat;
}
.logo:hover {text-decoration: none; opacity: .8;}

.address {margin: 0;}
.phones {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 21px;
    font-weight: 700;
    cursor: default;
    line-height: 1.5;
    color: #222;
    font-family: 'CoreSansDS55Bold', sans-serif;
}

/*navigation*/
.nav-container {
    background: #54a62b;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
}
.nav {
    margin: 0;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.nav>li>a {
    display: block;
    padding: .8em 1em;
    font-weight: 700;
    color: #fff !important;
    height: 100%;
    font-size: 14px;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.nav a:hover, .current-menu-item a, .current-menu-item a:hover, .current-menu-parent a, .current-menu-parent a:hover {
    background: rgba(0,0,0,.15);
    text-decoration: none;
}
#nav-cb, .nav-toggle {display: none;}

.menu-item-has-children {position: relative;}
.dropdown-menu, .sub-menu {
  top: 100%;
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  }
.dropdown-menu a, .sub-menu a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.dropdown-menu a:focus, .dropdown-menu a:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown>a:after, .menu-item-has-children>a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}
.dropdown:hover .dropdown-menu, .menu-item-has-children:hover .sub-menu {display: block;}
.dropdown-menu a:focus, .dropdown-menu a:hover, .sum-menu a:focus, .sub-menu a:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
}

/*header-objects*/
.headerimg {
    width: 542px;
    height: 438px;
    background: url("headerimg.png") no-repeat;
}
.header-text {
    font-family: 'CoreSansDS55Bold', sans-serif;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.header-text h1.rounded {
    font-size: 5rem !important;
    text-transform: none;
    font-family: 'Lifehack-Bold', sans-serif;
    margin-bottom: 0;
}

.header-icon {
    width: 64px; height: 64px;
    display: block;
    margin: 30px auto 20px;
    background-image: url("icons.png");
    background-repeat: no-repeat;
}
.header-icon.icon1 {background-position: 0 0;}
.header-icon.icon2 {background-position: -64px 0;}
.header-icon.icon3 {background-position: -128px 0;}


/*main*/
.main-content {margin: 50px 0;}
.main-content ol, .main-content ul {margin-left: 0; padding-left: 0;}

/*home page*/
.main-content [class^="section-"] {padding: 50px 0; position: relative;}
.section-beepackets {background: #f5f2e9; z-index: 5;}
.section-ourpasek {
    background: #417328;
    background-image: radial-gradient(farthest-corner at 50% 0, #548a33 0%, transparent 100%);
    color: #fff;
    padding-bottom: 114px !important;
    /*overflow: hidden;
    height: 482px;*/
}
.section-ourpasek .container:before {
    content:"";
    display: block;
    width: 514px; height: 232px;
    background: url("") no-repeat;
    position: absolute;
    left: 25%; margin-left: -257px;
    top: -50px;
}
.section-ourpasek:before {
    content:"";
    display: block;
    width: 1514px; height: 100%;
    height: calc(100% - 64px);
    background: url("") no-repeat;
    position: absolute;
    left: 50%; margin-left: -757px;
    top: 0;
    opacity: .1;
}
.section-honeyprod {
    background: #ccc;
    margin-top: -64px;
    padding-top: 114px !important;
    z-index: 5;
    background: #fff;
}

.bee {
    width: 251px;
    height: 168px;
    background: url("") no-repeat;
    margin: auto;
}
.uley {
    width: 295px; height: 342px;
    background: url("") no-repeat;
    position: absolute;
    left: 50%; bottom: -115px;
    z-index: 10;
    margin-left: -147px;
}

.home-circles {margin: 0; padding: 0; position: relative;}
.home-circles li {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0,0,0,.1);
}
.home-circles li:nth-child(1) {width: 180px; height: 180px; top: 0; left: 0;}
.home-circles li:nth-child(2) {width: 250px; height: 250px; top: 230px; left: 60px;}
.home-circles img {height: 100%;}

/*hexagons*/
.home-circles:before, .section-karpatki:before {
    content: "";
    display: block;
    width: 297px; height: 298px;
    background: url("") no-repeat;
    position: absolute;
}
.home-circles:before {top: 120px; left: -80px; opacity: .15;}
.section-karpatki:before {bottom: -130px; left: 65%; margin-left: -150px; opacity: .15;}

.flowers1, .flowers2 {
    width: 422px; height: 437px;
    position: absolute;
    z-index: 10;

}
.flowers1 {background: url("") no-repeat;}
.flowers2 {
    background: url("") no-repeat;
    top: 600px; left: -50px;
}

/*goods*/
.goods {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 30px;
}
.goods, .goods:hover {
    color: #333 !important;
    text-decoration: none;
}
.goods .img {overflow: hidden; height: 200px;}
.goods img {margin: auto; display: block;}
.goods:hover img {opacity: .8;}
.goods:hover {box-shadow: 0 14px 28px rgba(0,0,0,.1), 0 10px 10px rgba(0,0,0,.16);}
.allgoods .card {height: 370px;}

.price {
    font-size: 1rem;
    position: absolute;
    top: 10px; left: -10px;
    border-radius: 0;
    font-family: 'CoreSansDS55Bold', sans-serif;
}
.price:before, .price:after {
    content:"";
    display: block;
    height: 0; width: 0;
    border: .8rem solid transparent;
    position: absolute;
    top: 0;
}
.price:before {
    border-right-color: #5cb85c;
    border-right-width: .6rem;
    left: -1.3rem;
}
.price:after {
    border-left-color: #5cb85c;
    border-left-width: .6rem;
    right: -1.3rem;
}

.goodview .img {overflow: hidden;}
.goodview img {display: block; margin: auto;}

/*sidebar*/
.sidebar {
    padding: 30px 30px 20px;
    background: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.16);
    border-radius: 5px;
}
#menu-catalog {margin: 0; padding: 0; list-style: none;}
#menu-catalog a {
    margin: 0 -30px 0 -30px;
    padding: 10px 30px;
    display: block;
}
#menu-catalog a:hover, #menu-catalog .current-menu-item a, #menu-catalog .current-menu-parent a {
    background: #47b352;
    color: #fff !important;
    text-decoration: none;
}
.widget.widget_nav_menu {margin-bottom: 0;}
.widget-title {font-size: 1.2rem; text-transform: uppercase;}

/*some typography*/
.entry-title, .page-title, .widget-title {
    font-family: 'CoreSansDS55Bold', sans-serif;
}
.entry-title, .page-title {margin: 1.5rem 0;}
.breadcrumb {padding: .75rem 1rem !important;}

/*footer*/
footer.site-footer {
    padding: 40px 0;
    background: #f5f5f5;
}
.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.footer-nav li {width: 50%; float: left;}
.footer-nav a {
    display: inline-block;
    padding: 0 4px;
    border-radius: 3px;
}
.footer-nav .current_page_item a, .footer-nav .current-menu-item a {
    background: #4a9451;
    color: #fff;
}

.nav-previous:before {content:"← "; font-weight: bold;}
.nav-next:after {content:" →"; font-weight: bold;}
.navigation.post-navigation {margin-bottom: 20px; overflow: hidden;}

.gallery a:hover {opacity: .8;}

/*responsve nav*/
.nav-toggle {
    padding: 24px;
    position: relative;
    margin: 0;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}
.nav-toggle:hover, #nav-cb:checked ~ .nav-toggle {
    background: rgba(0,0,0,.8);
}
#nav-cb:checked ~ .nav-toggle:hover span {opacity: .8;}
.nav-toggle span:before {
    margin-top: -8px;
}
.nav-toggle span:after {
    margin-top: 8px;
}
.nav-toggle span:after,
.nav-toggle span:before {
    content: '';
    position: absolute;
}
.nav-toggle span:after,
.nav-toggle span:before,
.nav-toggle span {
    display: block;
    height: 2px;
    width: 25px;
    transition: .2s ease-out;
    background: #fff;
}
#nav-cb:checked ~ .nav-toggle span {
    background-color: transparent;
}
#nav-cb:checked ~ .nav-toggle span:before,
#nav-cb:checked ~ .nav-toggle span:after  {
    margin-top: 0px;
}
#nav-cb:checked ~ .nav-toggle span:before {
    transform: rotate(45deg);
}

#nav-cb:checked ~ .nav-toggle span:after {
    transform: rotate(-45deg);
}

/*media*/
@media (max-width: 992px) {
    .nav-col {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        z-index: 10;
    }
    .headerimg {display: none;}
    .cab-desc {margin: 40px auto 0;}
    .uley {display: none;}
    .nav a {font-size: 80% !important;}
    .site-header {height: 380px;}
    .logo {
        -webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7);
    }
    .section-ourpasek {overflow-x: hidden;}
    .section-ourpasek .container:before {top: -140px;}
    .header-text {margin-top: 0;}
    .nav-container {margin-top: 20px;}
}
@media (max-width: 768px) {

    #nav-cb, .nav-toggle {display: none;}
    .nav-container {border-bottom: none;}
    .nav {display: none;}
    .nav {
        text-align: center;
        flex-direction: column;
    }
    .nav a {border-bottom: none;}
    .nav a:hover {background: #54a62b;}
    #nav-cb:checked ~ .nav {
        display: block;
        overflow: auto;
        height: 100vh;
        background: rgba(0,0,0,.6);
    }
    .nav-toggle {
        display: block;
    }
}

/*Comment Output*/
.comment-list {
    list-style: none;
}
.comment-list .comment {
    border: 1px solid #f0f0f0;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
footer.comment-meta {
    background-color: #f0f0f0;
    padding: .8rem 1rem;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.comment-list .comment-content {
    padding: 1rem;
}
.comment-list .comment-content *, footer.comment-meta * {
    margin: 0 !important;
}
.comment-metadata {
    order: 1;
}
.comment-respond {
    background: #f7f7f7;
    padding: 1.5rem;
}
.comment-form textarea {
    height: 90px;
}
.comment-form textarea, .comment-form input[type="text"], .comment-form input[type="email"] {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}display: none;
}
.comment-form p.form-submit {
    margin: 0 !important;
}
.comment-form .form-submit .submit {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}